{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Media Portal</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{% static 'colorib/css/roboto-font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'colorib/fonts/font-awesome-5/css/fontawesome-all.min.css' %}">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static 'colorib/css/style.css' %}"/>
</head>
<body class="form-v5">
	<div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" action="#" method="POST">
				{% csrf_token %}
				<h2>Login</h2>
				{% if messages %}
					{% for message in messages %}
						{% if message.tags == 'error' %}
							<small style="color:red;"><p>{{message}}</p></small>
						{% endif %}
					{% endfor %}
				{% endif %}
				<div class="form-row">
					<label for="full-name">username</label>
					<input type="text" name="username" id="full-name" class="input-text" placeholder="Your username" required>
					<i class="fas fa-user"></i>
				</div>
				<div class="form-row">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" class="input-text" placeholder="Your Password" required>
					<i class="fas fa-lock"></i>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Login">
				</div>
				<center><small>Accountim Yo'q <a href="{% url 'register' %}"><b>Register</b></a></small></center>
			</form>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>