{% extends 'main/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<body>
  {% block content %}
    <main id="main" data-aos="fade-in">

      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs">
        <div class="container">
          <h2>Tanlovlar</h2>
          <p style="font-size: 18px">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste aliquam beatae veniam cumque numquam, consequatur accusamus quisquam repellendus laboriosam.  </p>
        </div>
      </div><!-- End Breadcrumbs -->

      
                  
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">

          <div class="row">
            <div class="col-lg-12 order-2 order-lg-1" data-aos="fade-left" data-aos-delay="100">
              <img src="{% static 'assets/img/imkoniyat.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 order-1 order-lg-2 content">
              <h3>Lorem, ipsum dolor.....</h3>
              <p class="fst-italic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ducimus laborum ea veniam tempore deleniti fugit natus sit. Quaerat, quas deleniti? Minima?
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Lorem ipsum dolor sit amet.</li>
                <li><i class="bi bi-check-circle"></i>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, doloribus commodi. </li>
                <li><i class="bi bi-check-circle"></i> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit quo quis quaerat mollitia incidunt iure quae dicta.</li>
                <li><i class="bi bi-check-circle"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
              </ul>
              <p>
              Lorem ipsum dolor, sit amet consectetur ipsum dolor, sit amet consectetur adipisicing elit. Ducimus qipsum dolor, sit amet consectetur adipisicing elit. Ducimus qipsum dolor, sit amet consectetur adipisicing elit. Ducimus quis ullam ad quisquam officiis voluptas dolorum sed consequatur tenetur.uis ullam ad quisquam officiis voluptas dolorum sed consequatur tenetur.uis ullam ad quisquam officiis voluptas dolorum sed consequatur tenetur.adipisicing elit. Ducimus quis ullam ad quisquam officiis voluptas dolorum sed consequatur tenetur.
              </p>

            </div>
          </div>

        </div>
      </section>



    </main><!-- End #main -->
  {% endblock content %}

</body>

</html>